.error_img {
  height: 800px;
  position: absolute;
  bottom: -250px;
  left: 0;
}

.four_container {
  text-align: center;
  color: #aaa;
}

.four_title {
  font-size: 80px;
  margin-bottom: 3rem;
}

.four_text {
  font-size: 14px;
  font-weight: 100;
}