.img_info {
  position: absolute;
  bottom: 10px;
  right: 20px;
  height: 300px;
  width: auto;
}

.img_info_2 {
  position: absolute;
  top: 0;
  left:-5px;
  height: 200px;
}

.img_info_3 {
  position: absolute;
  bottom: 20px;
  left: 40px;
  height: 320px;
}

.img_info_4 {
  position: absolute;
  top: 170px;
  right: 190px;
  height: 120px;
}

.info_container {
  display: flex;
  color: #aaa;
}

.info_text {
  color: #0f548c;
  margin: 0 0.5rem;
  border-bottom: 1px solid #0f548c;
}