.navbar {
  width: 100%;
  height: 40px;
}

.navbar_list {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar_list_item {
  list-style-type: none;
  font-weight: 300;
}

.navbar_list_item + .navbar_list_item {
  margin-left: 3rem;
}

.navbar_list_link {
  text-decoration: none;
  color: #aaaaaa;
}

.navbar_list_link:visited {
  text-decoration: none;
  color: #aaaaaa;
}

.navbar_list_link:hover {
  transition: 0.5s;
  border-bottom: 1px solid #0f548c;
}

.navbar_list_item>.active {
  color: #0f548c;
  border-bottom: 1px solid #0f548c;
}